<ion-content>
  <div class="photopart" >
    <ion-grid>
      <ion-row>
        <ion-col col-12 text-right>
          <ion-icon ion-text color="light" name="settings" style="font-size:large" (click)="openSetting()"> {{Lang["setting"]}} </ion-icon>
        </ion-col>
      </ion-row>
      <ion-row >
        <ion-col col-12>
          <div *ngIf="!Member.isLogined()" class="img-avatar" (click)="openLogin()">
            <img src="/assets/img/bg-member-default.jpg" />
          </div>
          <div  *ngIf="Member.isLogined()" class="img-avatar"  (click)="openLogin()" >
            <img src="{{Member.photo}}" />
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12 text-center  >
          <p  *ngIf="!Member.isLogined()"  ion-text color="light" (click)="openLogin()">{{Lang["clicktologin"]}}</p>
          <p  ion-text color="light"  (click)="openLogin()">{{Member.name}}</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>