<ion-header>
  <ion-grid style="min-height:120px;">
    <ion-row>
      <ion-col col-12 text-right>
        <ion-icon name="settings-outline" style="font-size:1.8em;" (click)="openSetting()"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="!Member.isLogined()">
      <ion-col col-2></ion-col>
      <ion-col col-4 text-center>
        <button ion-button block small color="light"  (click)="gotoRegister()" outline>{{Lang["register"]}}</button>
      </ion-col>
      <ion-col col-4 text-center>
        <button ion-button block small color="light" (click)="gotoLogin()">{{Lang["login"]}}</button>
      </ion-col>
      <ion-col col-2></ion-col>
    </ion-row>
    <ion-row *ngIf="Member.isLogined()" (click)="gotoMemberInfo()">
      <ion-col col-1> </ion-col>
      <ion-col col-2>
        <ion-avatar>
          <img src="{{Member.getPhoto()}}">
        </ion-avatar>
      </ion-col>
      <ion-col col-1> </ion-col>
      <ion-col col-7 text-left>
        <h5 style="margin-top:0px;">{{Member.name}}</h5>
      </ion-col>
      <ion-col col-1>
          <h3>
              <ion-icon name="arrow-forward"></ion-icon>
          </h3>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>
<ion-content>
  

</ion-content>